body{
    margin-left: 120px;
    margin-top: 20px;
    font-family: Helvetica, "游ゴシック Medium", YuGothic, YuGothicM;
}

pre {
    font-family: Hack;
}

.title-ascii {
    margin-bottom: 100px;
}

main {
    width: 650px;
}


article {
    margin-bottom: 50px;
}
