body{
    margin-left: 2%;
    margin-top: 10px;
    font-family: Helvetica, "游ゴシック Medium", YuGothic, YuGothicM;
}

img{
    max-width: 100%;
}

@media only screen and (min-width: 800px) {
    body{
        margin-left: 120px;
        margin-top: 20px;
    }
}

pre {
    font-family: Hack;
}

main {
    width: 650px;
    max-width: 100%;
    margin-bottom: 3em;
}


article {
    margin-bottom: 50px;
}
