{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "2006-03-11" }}</time>
			<div>
				{{ .Content }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			<div id="commento"></div>
			<script src="https://cdn.commento.io/js/commento.js"></script>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
