{{ partial "header.html" . }}


<pre class="title-ascii">
                            _     _           _         _
  _   _  __ _ ___ _   _ ___| |__ (_)___  __ _| | ____ _(_)
 | | | |/ _` / __| | | / __| '_ \| / __|/ _` | |/ / _` | |
 | |_| | (_| \__ \ |_| \__ \ | | | \__ \ (_| |   < (_| | |
  \__, |\__,_|___/\__,_|___/_| |_|_|___/\__,_|_|\_\__,_|_|
  |___/
</pre>


	<main>
		{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ partial "summary.html" . }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
<!-- {{ partial "sidebar.html" . }} -->
{{ partial "footer.html" . }}
